# Workflow
env/
.vscode
.idea

# Secrets
.env

# Django
*.egg-info
*.pot
*.py[co]
*.sqlite3
.tox/
__pycache__
MANIFEST
dist/
migrations/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/